{
    "presets": [
        [
            "babel-preset-gatsby",
            {
                "targets": {
                    "browsers": [">0.25%", "not dead"]
                },
                "reactRuntime": "automatic"
            }
        ],
        //This made the css prop for emotion work
        [
            "@babel/preset-react",
            {
                "runtime": "automatic",
                "importSource": "@emotion/react"
            }
        ]
    ],
    "plugins": [
        "@emotion/babel-plugin"
    ]
}